
#pepite-section {

  height: 800px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

}

.line {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.line input {

  flex: 1;
  margin: 10px;

}
